<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= @title %></h3>
  </div>

  <%= form_tag(@path, [method: @method]) do %>
    <div class="box-body">
      <div class="form-group">
        <%= label :event, :body %>
        <%= textarea :event, :body, value: @event |> Poison.encode!(pretty: true), class: "form-control", rows: 15 %>
      </div>
    </div>

    <div class="box-footer">
      <%= submit @submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
