<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= Config.game_name() %> Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="/admin" class="logo">
          <span class="logo-mini">ExV</span>
          <span class="logo-lg">ExVenture</span>
        </a>

        <nav class="navbar navbar-static-top">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="<%= tab_selected(@conn, "zones") %>">
              <%= link(to: zone_path(@conn, :index)) do %>
                <i class="fa fa-flag"></i> Zones
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "items") %>">
              <%= link(to: item_path(@conn, :index)) do %>
                <i class="fa fa-archive"></i> Items
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "users") %>">
              <%= link(to: user_path(@conn, :index)) do %>
                <i class="fa fa-users"></i> Users
              <% end %>
            </li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <%= render @view_module, @view_template, assigns %>
      </div>
      <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
    </div>
  </body>
</html>
