<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tag() %>

    <title><%= Config.game_name() %> Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
    <link rel="stylesheet" href="<%= color_css_path(@conn) %>">
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </head>

  <body class="hold-transition skin-black sidebar-mini" data-user-token="<%= @conn |> user_token() %>">
    <div class="wrapper">
      <header class="main-header">
        <a href="/admin" class="logo">
          <span class="logo-mini"><%= Config.game_name() |> String.slice(0..2) %></span>
          <span class="logo-lg"><%= Config.game_name() %></span>
        </a>

        <nav class="navbar navbar-static-top">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li class="<%= tab_selected(@conn, "dashboard") %>">
              <%= link(to: dashboard_path(@conn, :index)) do %>
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
              <% end %>
            </li>
            <li>
              <%= link(to: public_page_path(@conn, :index), target: "_blank") do %>
                <i class="fa fa-home"></i>
                <span>Home Page &raquo;</span>
              <% end %>
            </li>
            <li>
              <%= link(to: public_play_path(@conn, :show), target: "_blank") do %>
                <i class="fa fa-gamepad"></i>
                <span>Play Now &raquo;</span>
              <% end %>
            </li>
            <li class="header">PLAYERS</li>
            <li class="<%= tab_selected(@conn, "classes") %>">
              <%= link(to: class_path(@conn, :index)) do %>
                <i class="fa fa-user-circle"></i>
                <span>Classes</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "races") %>">
              <%= link(to: race_path(@conn, :index)) do %>
                <i class="fa fa-eye"></i>
                <span>Races</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "skills") %>">
              <%= link(to: skill_path(@conn, :index)) do %>
                <i class="fa fa-gavel"></i>
                <span>Skills</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "socials") %>">
              <%= link(to: social_path(@conn, :index)) do %>
                <i class="fa fa-comment"></i>
                <span>Socials</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "users") %>">
              <%= link(to: user_path(@conn, :index)) do %>
                <i class="fa fa-users"></i>
                <span>Users</span>
              <% end %>
            </li>
            <li class="header">THE WORLD</li>
            <li class="<%= tab_selected(@conn, "features") %>">
              <%= link(to: feature_path(@conn, :index)) do %>
                <i class="fa fa-map-signs"></i>
                <span>Features</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "items") %>">
              <%= link(to: item_path(@conn, :index)) do %>
                <i class="fa fa-shopping-basket"></i>
                <span>Items</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "item_aspects") %>">
              <%= link(to: item_aspect_path(@conn, :index)) do %>
                <i class="fa fa-tag"></i>
                <span>Item Aspects</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "npcs") %>">
              <%= link(to: npc_path(@conn, :index)) do %>
                <i class="fa fa-address-card"></i>
                <span>NPCs</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "quests") %>">
              <%= link(to: quest_path(@conn, :index)) do %>
                <i class="fa fa-compass"></i>
                <span>Quests</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, ["zones", "rooms", "shops"]) %>">
              <%= link(to: zone_path(@conn, :index)) do %>
                <i class="fa fa-flag"></i>
                <span>Zones</span>
              <% end %>
            </li>
            <li class="header">THE GAME</li>
            <li class="<%= tab_selected(@conn, "announcements") %>">
              <%= link(to: announcement_path(@conn, :index)) do %>
                <i class="fa fa-map-pin"></i>
                <span>Announcements</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "bugs") %>">
              <%= link(to: bug_path(@conn, :index)) do %>
                <i class="fa fa-bug"></i>
                <span>Bugs</span>
                <%= if Bug.incomplete_count() > 0 do %>
                  <span class="pull-right-container">
                    <span class="label bg-red pull-right"><%= Bug.incomplete_count() %></span>
                  </span>
                <% end %>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "channels") %>">
              <%= link(to: channel_path(@conn, :index)) do %>
                <i class="fa fa-bullhorn"></i>
                <span>Channels</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "colors") %>">
              <%= link(to: color_path(@conn, :index)) do %>
                <i class="fa fa-code"></i>
                <span>Colors</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "config") %>">
              <%= link(to: config_path(@conn, :index)) do %>
                <i class="fa fa-gears"></i>
                <span>Config</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "damage_types") %>">
              <%= link(to: damage_type_path(@conn, :index)) do %>
                <i class="fa fa-tint"></i>
                <span>Damage Types</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "help_topics") %>">
              <%= link(to: help_topic_path(@conn, :index)) do %>
                <i class="fa fa-folder"></i>
                <span>Help Topics</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "insights") %>">
              <%= link(to: insight_path(@conn, :index)) do %>
                <i class="fa fa-search"></i>
                <span>Insights</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "notes") %>">
              <%= link(to: note_path(@conn, :index)) do %>
                <i class="fa fa-book"></i>
                <span>Notes</span>
              <% end %>
            </li>
            <li class="<%= tab_selected(@conn, "typos") %>">
              <%= link(to: typo_path(@conn, :index)) do %>
                <i class="fa fa-font"></i>
                <span>Typos</span>
              <% end %>
            </li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <%= if get_flash(@conn, :info) do %>
          <section class="content-header">
            <div class="callout callout-success">
              <i class="fa fa-info-circle"></i> <%= get_flash(@conn, :info) %>
            </div>
          </section>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <section class="content-header">
            <div class="callout callout-danger">
              <i class="fa fa-exclamation-circle"></i> <%= get_flash(@conn, :error) %>
            </div>
          </section>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>

      <footer class="main-footer">
        Built with <%= link(ExVenture.version(), to: "https://exventure.org", target: "_blank") %>.
      </footer>
    </div>

    <script type="application/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
    </script>
  </body>
</html>
