<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= Config.game_name() %>">
    <meta name="author" content="">

    <title><%= page_title(@conn, assigns) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/home.css") %>">
    <link rel="stylesheet" href="<%= color_css_path(@conn, home: true) %>">
    <link rel="alternate" type="application/rss+xml" title="<%= Config.game_name %> » Announcements" href="<%= public_announcement_url(@conn, :feed) %>">

    <script type="application/javascript">
<%= if Map.has_key?(assigns, :current_character) do %>
window.gameConfig = <%= raw(Poison.encode!(game_config(@current_character))) %>
<% end %>
    </script>
  </head>

  <body id="body" data-character-token="<%= @conn |> character_token() %>">
    <nav class="site-header navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <%= link(Config.game_name(), to: public_page_path(@conn, :index), class: "navbar-brand") %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= render("_navbar.html", assigns) %>
      </div>
    </nav>

    <main>
      <div class="container">
        <%= if flash = get_flash(@conn, :info) do %>
          <div class="alert alert-primary" role="alert">
            <%= flash %>
          </div>
        <% end %>
        <%= if flash = get_flash(@conn, :error) do %>
          <div class="alert alert-danger" role="alert">
            <%= flash %>
          </div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <div class="container">
        <p class="text-muted">
          Built with <%= link(ExVenture.version(), to: "https://exventure.org", target: "_blank") %>
          <%= if Gossip.configured?() do %>
          |
            Part of <%= link(to: "https://gossip.haus", target: "_blank") do %>
              <%= img_tag("https://gossip.haus/images/gossip.png", height: 18) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/home.js") %>"></script>
  </body>
</html>
