<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= Config.game_name() %>">
    <meta name="author" content="">

    <title><%= Config.game_name() %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/home.css") %>">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="container">
        <%= link(Config.game_name(), to: public_page_path(@conn, :index), class: "navbar-brand") %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= tab_selected(@conn, "who") %>">
              <%= link("Who's Online", to: public_page_path(@conn, :who), class: "nav-link") %>
            </li>
            <li class="nav-item <%= tab_selected(@conn, "classes") %>">
              <%= link("Classes", to: public_class_path(@conn, :index), class: "nav-link") %>
            </li>
            <li class="nav-item <%= tab_selected(@conn, "races") %>">
              <%= link("Races", to: public_race_path(@conn, :index), class: "nav-link") %>
            </li>
            <li class="nav-item <%= tab_selected(@conn, "help") %>">
              <%= link("Help", to: public_help_path(@conn, :index), class: "nav-link") %>
            </li>

            <%= if Map.has_key?(@conn.assigns, :user) do %>
              <li class="nav-item <%= tab_selected(@conn, "help") %>">
                <%= link("Sign Out", to: public_session_path(@conn, :delete), class: "nav-link", method: "delete") %>
              </li>
            <% else %>
              <li class="nav-item <%= tab_selected(@conn, "help") %>">
                <%= link("Sign In", to: public_session_path(@conn, :new), class: "nav-link") %>
              </li>
            <% end %>
          </ul>
          <%= link("Play Now", to: public_play_path(@conn, :show), class: "btn btn-primary") %>
        </div>
      </div>
    </nav>

    <main>
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <div class="container">
        <p class="text-muted">
          Built with <%= ExVenture.version() %>.
        </p>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/home.js") %>"></script>
  </body>
</html>
