<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <title><%= gettext("ExVenture") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-800">
    <div class="container mx-auto mt-24 md:mt-16 h-screen">
      <%= if get_flash(@conn, :info) do %>
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
          <strong class="block sm:inline"><%= get_flash(@conn, :info) %></strong>
        </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="block sm:inline"><%= get_flash(@conn, :error) %></strong>
        </div>
      <% end %>

      <%= @inner_content %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
