<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <title><%= gettext("ExVenture") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-200">
    <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <%= if get_flash(@conn, :info) do %>
        <div class="mb-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
            <strong class="block sm:inline"><%= get_flash(@conn, :info) %></strong>
          </div>
        </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="mb-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="block sm:inline"><%= get_flash(@conn, :error) %></strong>
          </div>
        </div>
      <% end %>

      <%= @inner_content %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
