<div class="form-group">
  <%= label @f, :room_id, class: "col-md-4" %>
  <div class="col-md-8">
    <%= number_input @f, :room_id, placeholder: "Enter Room ID", class: "form-control" %>
    <%= error_tag @f, :room_id %>
    <span class="help-block">Since this can be any of the rooms in the game, find it's ID and paste it here</span>
  </div>
</div>
