apiVersion: 1
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus:9090
  isDefault: true
  jsonData:
    timeInterval: 15s
  secureJsonData: {}
  version: 1
  editable: false
