<section class="content-header">
  <h1>
    <%= @zone.name %>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "_form.html", path: zone_path(@conn, :update, @zone.id), changeset: @changeset, title: "Edit", submit: "Update" %>
    </div>
  </div>
</section>
