<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= @title %></h3>
  </div>

  <%= form_for @changeset, @path, [method: :post], fn (_) -> %>
    <div class="box-body">
      <div class="form-group">
        <%= label :item, :id, "Item" %>
        <%= select :item, :id, @items |> Enum.map(&({&1.name, &1.id})), class: "form-control" %>
      </div>
    </div>

    <div class="box-footer">
      <%= submit @submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
