@import "play/css/colors";
@import "home/css/chat";

/**
 * Bootstrap overrides
 */

.alert-danger {
  background-color: lighten($red, 40%);
  border-color: lighten($red, 10%);
  color: $red;
}

code {
  color: $red;
}

.btn-grapevine {
  background-color: #aa74da;
  color: #fff;
}

.btn-grapevine:hover {
  background-color: #BB8FE1;
  color: #fff;
}

/**
 * Main Site
 */

main {
  padding-top: 3em;
}

footer {
  padding-top: 2em;
}

.back {
  margin-top: 1em;
}

.announcement pre,
.terminal {
  padding: 10px;
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}

.actions {
  display: block;
  margin-top: 1rem;

  .btn {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: .575rem .75rem;
  }
}

.starter-name {
  text-decoration: underline;
  cursor: pointer;
  color: $blue;

  &:hover {
    color: $blue * 1.3;
  }
}
