/**
 * Main layout
 */

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

.panel {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 88%;
  overflow-y: scroll;

  @media only screen and (max-device-width: 667px) {
    left: 0;
    width: 100%;
  }
}

.panel .container {
  padding-left: 10px;
  padding-right: 10px;
}

.prompt {
  width: 100%;
  height: 12%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-info {
  display: none;

  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 88%;

  @media only screen and (max-device-width: 667px) {
    display: none !important;
  }

  .container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.room-info {
  display: none;

  font-size: 1.25em;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 88%;

  @media only screen and (max-device-width: 667px) {
    display: none !important;
  }

  .container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .exits {
    span {
      padding-right: 5px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .map {
    overflow: scroll;
    margin-top: auto;

    pre {
      white-space: pre;

      @media only screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1) {
        font-size: 0.8em;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 5px;
  }
}

pre {
  font-size: 1em;
  white-space: pre-wrap;

  code {
    font-family: "Lucida Console", Monaco, monospace;
  }
}

.prompt-container {
  position: relative;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

input {
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}

.stats {
  display: none;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.stat-block {
  display: inline-block;
  position: relative;
  font-size: 1.1em;
  flex: 1;
  margin-left: 3px;
  margin-right: 3px;

  .container {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 3;
  }

  .percentage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  span {
    padding-left: 10px;
  }

  @media only screen and (max-width: 500px) {
    & {
      width: 31%;
    }
  }
}

@media only screen and (max-width: 500px) {
  input {
    width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }
}

/**
 * Tooltips
 */

.command {
  position: relative;
}

.command:hover:after {
  border-radius: 5px;
  bottom: 26px;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  white-space: nowrap;
}
