$prompt-height: 210px;
$mobile-prompt-height: 220px;

/**
 * Main layout
 */

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

.panel {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: calc(100% - #{$prompt-height});
  overflow-y: scroll;

  @media only screen and (max-device-width: 667px) {
    height: calc(100% - #{$mobile-prompt-height});
    left: 0;
    width: 99%;
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    height: calc(100% - #{$mobile-prompt-height});
    left: 0;
    width: 100%;
  }

  @media only screen and (min-device-width: 1900px) {
    left: 15%;
    width: 70%;
  }
}

.panel .container {
  padding-left: 10px;
  padding-right: 10px;
}

.prompt {
  width: 100%;
  height: $prompt-height;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-device-width: 667px) {
    height: $mobile-prompt-height;
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    height: $mobile-prompt-height;
  }

  input[type="text"] {
    border: none;
    padding: 6px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: calc(100% - 6px);
    font-family: "Lucida Console", Monaco, monospace;

    &:focus {
      outline: 3px solid #268bd2;
    }
  }
}

.character-info {
  display: none;

  font-size: 1.1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: calc(100% - #{$prompt-height});

  @media only screen and (max-device-width: 667px) {
    display: none !important;
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    display: none !important;
  }

  @media only screen and (min-device-width: 1900px) {
    width: 15%;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .character-container {
    padding-left: 15px;
  }

  .character-stats {
    margin-top: 5px;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      border-color: none;

      th {
        text-align: right;
      }

      td {
        padding-left: 20px;
      }
    }
  }

  .channels-header {
    margin-left: 15px;
    margin-bottom: 0;
  }

  .channels-overflow-container {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  .channels-container {
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 3px;
    box-sizing: content-box;
    height: calc(100% - 48px);
    width: 100%;

    pre {
      margin: 0;
    }
  }

  .channels {
    width: 100%;

    span {
      font-size: 1rem;
    }
  }
}

.room-info {
  display: none;

  font-size: 1.1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: calc(100% - #{$prompt-height});

  @media only screen and (max-device-width: 667px) {
    display: none !important;
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    display: none !important;
  }

  @media only screen and (min-device-width: 1900px) {
    width: 15%;
  }

  .container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .exits {
    span {
      padding-right: 5px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .map-container {
    width: 100%;
    height: 275px;
    overflow: hidden;
    position: relative;
  }

  .map {
    overflow: scroll;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding-right: 18px;
    padding-bottom: 18px;

    pre {
      white-space: pre;

      @media only screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1) {
        font-size: 0.8em;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 5px;
  }
}

pre {
  font-size: 0.9rem;
  white-space: pre-wrap;

  @media only screen and (min-device-width: 1900px) {
    font-size: 1rem;
  }

  code {
    font-family: "Lucida Console", Monaco, monospace;
  }
}

.prompt-container {
  position: relative;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

input {
  font-size: 1.1em;
  width: 100%;
}

.target-bar {
  height: 33px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 6px;

  overflow: hidden;

  @media only screen and (max-device-width: 667px) {
    margin-bottom: 0px;
  }

  .target-bar-container {
    height: 50px;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 0;
    margin-right: 3px;
  }

  .button {
    font-size: 1rem;
    display: inline-block;
    width: calc(calc(98% / 6) - 15px);
    margin-left: 3px;
    margin-right: 3px;

    @media only screen and (max-device-width: 667px) {
      width: calc(calc(98% / 3) - 15px);
    }
  }

  .button .container {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.1em;
    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}

.action-bar {
  height: 33px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 6px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  @media only screen and (max-device-width: 667px) {
    height: 72px;
  }

  .button {
    flex: 1;

    @media only screen and (max-device-width: 667px) {
      flex: 1 0 15%;
      margin-top: 6px;
    }

    width: 15%;
    white-space: nowrap;
    margin-left: 3px;
    margin-right: 3px;
  }

  .container {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.1em;
    display: flex;

    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media only screen and (max-device-width: 667px) {
      justify-content: left;
      align-items: left;
      padding-left: 10px;
      overflow: hidden;
    }

    cursor: pointer;

    &.empty {
      cursor: default;
    }
  }
}

.stats {
  display: flex;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.stat-block {
  display: inline-block;
  position: relative;
  font-size: 1.1em;
  flex: 1;
  flex-basis: 30%;
  margin-left: 3px;
  margin-right: 3px;

  .container {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 3;
  }

  .percentage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  span {
    padding-left: 10px;
  }

  @media only screen and (max-width: 500px) {
    & {
      width: 31%;
    }
  }
}

.experience-bar {
  display: inline-block;
  position: relative;
  font-size: 1.1em;
  flex: 1;
  flex-basis: 100%;
  height: 12px;
  width: 100%;
  margin-top: 6px;
  margin-left: 3px;
  margin-right: 3px;

  .percentage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    z-index: 2;
  }
}

@media only screen and (max-width: 500px) {
  input {
    width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }
}

/**
 * Tooltips
 */

.tooltip,
.command {
  position: relative;
}

.tooltip:hover:after,
.command:hover:after {
  border-radius: 5px;
  bottom: 26px;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  white-space: nowrap;
}

/**
 * Text formatting
 */
.bold {
  font-weight: bold;
}
