<html>
  <head>
    <title>Kantele</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="Kantele" />
    <meta property="og:title" content="Kantele" />
    <meta property="og:description" content="Kantele is an example game for the Kalevala MUD Engine." />
    <meta property="og:url" content="https://kantele.dev/" />
    <meta name="twitter:card" content="summary" />

    <script src="/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <div data-react-class="Components.App"></div>
  </body>
</html>
