<div class="box box-primary">
  <%= form_for @changeset, @path, [method: "PUT"], fn _f -> %>
    <div class="box-body">
      <span class="lead">Enter in valid JSON</span>

      <div class="form-group">
        <%= React.react_component("Components.Script.Editor", name: "npc[script]", lines: @changeset |> script(), quest: false) %>
      </div>
    </div>

    <div class="box-footer">
      <%= submit @submit, class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
