<b>Type</b>:
<span>move</span>

<b>Max Distance</b>:
<span><%= @action.max_distance %></span>

<%= if Map.has_key?(@action, :chance) do %>
  <b>Chance</b>:
  <span><%= @action.chance %></span>
<% end %>

<%= if Map.has_key?(@action, :wait) do %>
  <b>Wait</b>:
  <span><%= @action.wait %></span>
<% end %>
