<b>Type</b>:
<span>say</span>

<b>Messages</b>:
<span><code><%= inspect(@action.messages) %></code></span>

<%= if Map.has_key?(@action, :chance) do %>
  <b>Chance</b>:
  <span><%= @action.chance %></span>
<% end %>

<%= if Map.has_key?(@action, :wait) do %>
  <b>Wait</b>:
  <span><%= @action.wait %></span>
<% end %>
