You have a new in-game mail from <%= @mail.sender.name %>!

You can read it with this link <%= public_mail_url(Endpoint, :show, @mail.id) %> after signing in the website. It is also viewable in-game via the "mail" command.
