<section class="content-header">
  <h1>
    New Class
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "_form.html", path: class_path(@conn, :create), changeset: @changeset, title: "New", submit: "Create" %>
    </div>
  </div>
</section>
