<span class="black">Black</span>
<span class="red">Red</span>
<span class="green">Green</span>
<span class="yellow">Yellow</span>
<span class="blue">Blue</span>
<span class="magenta">Magenta</span>
<span class="cyan">Cyan</span>
<span class="white">White</span>
