<span class="map-default">Default</span>
<span class="map-blue">Blue</span>
<span class="map-brown">Brown</span>
<span class="map-dark-green">Dark Green</span>
<span class="map-green">Green</span>
<span class="map-grey">Grey</span>
<span class="map-light-grey">Light Grey</span>
