<section class="content-header">
  <h1>
    <%= @user.name %>
  </h1>

  <ol class="breadcrumb">
    <li>
      <%= link(to: dashboard_path(@conn, :index)) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>
    <li><%= link("Users", to: user_path(@conn, :index)) %></li>
    <li><%= link(@user.name, to: user_path(@conn, :show, @user.id)) %></li>
    <li class="active">Cheat</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Cheats</h3>
        </div>

        <div class="box-body">
          <%= form_tag user_cheating_path(@conn, :cheating, @user.id) do %>
            <div class="form-group">
              <%= hidden_input :cheat, :name, value: "experience" %>
              <%= label :cheat, :value, "Experience Points", class: "col-md-4" %>
              <div class="col-md-7">
                <%= number_input :cheat, :value, class: "form-control" %>
              </div>
              <div class="col-md-1">
                <%= submit "Add", class: "btn btn-warning" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
