<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title"><%= @title %></h3>
  </div>

  <%= form_for @changeset, @path, [class: "form-horizontal", method: :put], fn (f) -> %>
    <div class="box-body">
      <%= render("_#{@name}_form.html", f: f, changeset: @changeset) %>
    </div>

    <div class="box-footer">
      <%= submit @submit, class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
