<section class="content-header">
  <h1>
    <%= name(@config.name) %>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "_form.html", path: config_path(@conn, :update, @config.name), changeset: @changeset, name: @config.name, title: "Edit", submit: "Update" %>
    </div>
  </div>
</section>
