@import "npcs";

.map span.empty {
  display: block;
  height: 34px;
}

.map span.btn {
  cursor: default;
}

.announcement pre,
.console {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.1em;

  a {
    color: inherit;
  }
}

.color-preview {
  width: 30px;
  height: 30px;

  border: 2px solid black;
}
