
$fa-font-path: '~font-awesome/fonts';
$bootstrap-sass-asset-helper: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~admin-lte/dist/css/AdminLTE';
@import '~admin-lte/dist/css/skins/skin-black';


@import "npcs";
@import "world_map";

.map span.empty {
  display: block;
  height: 34px;
}

.map span.btn {
  cursor: default;
}
 
.announcement pre,
.console {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.1em;

  a {
    color: inherit;
  }
}

.color-preview {
  width: 30px;
  height: 30px;

  border: 2px solid black;
}
