<div class="form-group">
  <%= label @f, @room_field, class: "col-md-4" %>
  <%= hidden_input @f, @room_field, value: @room.id %>
  <div class="col-md-8">
    <%= select @f, @room_field, disabled_room_option(@room), disabled: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= label @f, @select_field, class: "col-md-4" %>
  <div class="col-md-8">
    <%= select @f, @select_field, Zone.room_exits(@room.zone), class: "form-control new-exit" %>
  </div>
</div>
