<section class="content-header">
  <h1>
    New Exit
  </h1>

  <ol class="breadcrumb">
    <li>
      <%= link(to: dashboard_path(@conn, :index)) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>
    <li><%= link("Zones", to: zone_path(@conn, :index)) %></li>
    <li><%= link(@room.zone.name, to: zone_path(@conn, :show, @room.zone_id)) %></li>
    <li><%= link(@room.name, to: room_path(@conn, :show, @room.id)) %></li>
    <li class="active">New Exit</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">New Exit</h3>
        </div>

        <%= form_for @changeset, room_exit_path(@conn, :create, @room.id, direction: @direction), [class: "form-horizontal"], fn (f) -> %>
          <div class="box-body">
            <%= hidden_input(f, :direction, value: @direction) %>

            <div class="form-group">
              <%= label f, :start_id, class: "col-md-4" %>
              <%= hidden_input f, :start_id, value: @room.id %>
              <div class="col-md-8">
                <%= select f, :start_id, disabled_room_option(@room), disabled: true, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label f, :finish_id, class: "col-md-4" %>
              <div class="col-md-8">
                <%= select f, :finish_id, Zone.room_exits(@room.zone), class: "form-control new-exit" %>
              </div>
            </div>

            <%= FormView.checkbox_field(f, :has_door, label: "Has Door?") %>
          </div>

          <div class="box-footer">
            <%= submit "Create", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Map</h3>
        </div>
        <div class="box-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <%= Enum.map(layers(@zone), fn (layer) -> %>
                <li class="<%= layer_class(@room.map_layer, layer) %>">
                  <%= link(ZoneView.layer_name(@zone, layer), to: "#layer-#{layer}", data: [toggle: "tab"]) %>
                </li>
              <% end)%>
            </ul>
            <div class="tab-content" style="overflow: scroll">
              <%= Enum.map(layers(@zone), fn (layer) -> %>
                <div class="tab-pane <%= layer_class(@room.map_layer, layer) %>" id="layer-<%= layer %>">
                  <table class="table">
                    <%= Enum.map(map(@zone, layer: layer), fn (row) -> %>
                      <tr>
                        <%= Enum.map(row, fn ({_, nil}) -> %>
                          <td><span class="empty"></span></td>
                        <% ({_, room}) -> %>
                          <td>
                            <%= if @room.id == room.id do %>
                              <span class="btn btn-default"><%= room.id %> - <%= room.name %></span>
                            <% else %>
                              <%= link("#{room.id} - #{room.name}", to: {:javascript, "selectRoom(#{room.id})"}, class: "room btn btn-success") %>
                            <% end %>
                          </td>
                        <% end) %>
                      </tr>
                    <% end) %>
                  </table>
                </div>
              <% end) %>
            </div>
          </div>
          <table class="table map">
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="application/javascript">
function selectRoom(roomId) {
  var select = document.getElementsByClassName('new-exit')[0];
  select.value = roomId;
}
</script>
