<section class="content-header">
  <h1>
    <%= @room.name %>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "_form.html", path: room_path(@conn, :update, @room.id), zone: @room.zone, changeset: @changeset, title: "Edit", submit: "Update" %>
    </div>
  </div>
</section>
